h1{

font-size: 30px;

text-align: center;

color: #de7471

}
h2{

font-size: 30px;

text-align: center;

color: #de7471

}

p{

font-size: 20px;

text-align: center;

font-family: Helvetica, sans-serif;

}


body {

background-color: #007471;

}

<a href= "http://www.wildcodeschool.com"> titre du lien </a>